.a {
  border: red 0.1px solid;
}

.b {
  border: blue 0.1px solid;
}



.full-page {
  min-height: 100vh;
  width: 100vw;
  padding: 0;
}

.half-page {
  min-height: 50vh;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  letter-spacing: 0.3em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
}

/* start of nav bar  */
nav {
  background-color: #5f8faa;
}

nav img {
  height: 25px;
  width: 25px;
}

@media screen and (min-width: 768px) {
  nav {
    background-color: transparent;
  }

  nav.scrolled {
    background-color: #5f8faa;
    -webkit-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    transition: background-color 1s linear;
  }
}

/* nav menu style change based on scroll spy */
.nav-link {
  color: white !important;
  border: solid 2px transparent;
}

.nav-link.active,
.nav-link:hover {
  border-bottom: white solid 2px;
}

/* navbar dropdown list in md, sm screen  */
@media screen and (max-width: 767px) {

  /* remove brand logo  */
  #nav-menu ul li:first-child {
    display: none;
  }

  /* display back to top instead  */
  #nav-menu ul li:last-child {
    padding-top: 15px;
    margin-top: 15px;
    /* we doest want the color of back to the top change due to the scrollspy. REMEMBER TO CHANGE THE COLOR WHEN THE FONT COLOR IS DECIDED */
    color: black;
  }
}

/* end of nav bar  */

/* start of intro page  */
#intro h2 {
  color: white;
  line-height: .8;
  font-weight: bold;
  display: inline-block;
  border: 15px solid #fff;
  padding: 25px;
  letter-spacing: 2px;
  font-size: 9rem;
  margin-bottom:20px;
  opacity: 0;
  animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: .5s;
}

#intro h2 span {
  color:black;
z-index: 3;}

#intro h5 {
  color: black;
  z-index: 1;
  animation: 2s fadeIn cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: 1.5s;
}

#intro h2,h5 {
  opacity: 0;

}
/* not working */
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* not working  */
@keyframes fadeIn{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width:767px) {
  #intro h1 {
    font-size: 7rem;
  }
}

/* end of intro page  */



/* start of about me  */
#about {
  position:relative;
  z-index:-2
}
#about img {
  width:65%;
  height:auto;

}


#about .bg {
  background-color: #8ac0c0;
  height:100%;
  width:30vw;
  position:absolute;
  top:0;
  left:0;
  z-index: 0;

}

#about .overlay.white{
   width: 20vw;
   height:40vh;
   border: 10px solid white;
   background-color: transparent;
   position:absolute;
   bottom:-20px;
   left:-20px;
}

#about .overlay.green{
  width: 10vw;
  height:10vh;
  background-color: #8ac0c0;
  position:absolute;
  top:30px;
  left:30vw;
  z-index: -1;
}

/* end of about me  */



#projects img {
  width: 100%;
  height: auto;
  /* background-color: #2e3842; */
}




/* page background color  */


/* page background color  */

#intro {
  /* background: radial-gradient(#8ac0c0, #c9e5dd); */
  background-color: #8ac0c0;
}

/* #about {
  background-color: #b6d9d4;
} */

#skills {
  background: linear-gradient(to bottom, #b6d9d4, #5f8faa);
}

#projects {
  background-color: #5f8faa;
}

#resume {
  background: linear-gradient(to bottom, #5f8faa, #c1ccd8);
}

#contact {
  background-color: #c1ccd8;
}